[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
celery = "*"
django-environ = "*"
django-extensions = "*"
django-model-utils = "*"
isort = "*"
black = "*"
flake8 = "*"
pre-commit = "*"
djangorestframework = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.9"
